<!DOCTYPE html>
<html lang ="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/js/home/login.js" defer></script>
    <title>로그인 페이지</title>

</head>
<body>
    <div id="firebaseui-auth-container">
        <input id="userID" type="text" placeholder="ID"><br>
        <input id="userPassword" type="text" placeholder="PASSWORD"><br>
        <button>LOG IN</button>
    </div>

</body>
</html>